<%# <h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p> %>

<div class="container">
  <h1>Admin Dashboard</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Product Count</h5>
          <p class="card-text"><%= @product_count %></p>
          <%= link_to "View Products", admin_products_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Category Count</h5>
          <p class="card-text"><%= @category_count %></p>
          <%# <%= link_to "View Categories", admin_categories_path, class: "btn btn-primary" %> 
        </div>
      </div>
    </div>
  </div>
</div>

